html,
body {
    height: 100%;
    width: 100%;
    background: #160c34;
    /* overflow-x: hidden; */
    margin: 0;
    color: aliceblue;
    font-family: 'Sora', sans-serif;
}

.donate-button-all {
    position: relative;
    font-size: 20px;
    font-weight: 800;
    height: 70px;
    width: 120px;
    box-shadow: 0px 0px 10px #ff5781;
    background: linear-gradient(90deg, red, #ff5959);
    border: 0;
    color: #d9d9d9;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px auto;
}

#header {
    /* position: absolute; */
    /* overflow: hidden; */
    width: 100%;
    height: 925px;
}

.header-up-line {
    height: 35px;
    width: 100%;
    background: transparent;
}

.header-main-line {
    position: absolute;
    background: linear-gradient(90deg, #fc5f51, #f59d75);
    width: 100%;
    z-index: 2;
}

.header-main-line button {
    font-size: 20px;
    padding: 10px 30px;
    margin: 10px 0 10px 10px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    color: #313131;
    background: rgb(206, 206, 206);
    box-shadow: 0px 0px 3px #ffffff;
}

.header-main-line button.donate-button {
    font-size: 25px;
    padding: 25px 30px;
    margin: 0;
    position: absolute;
    float: right;
    bottom: -8px;
    right: 10px;
    color: #fdfdfd;
    background: rgb(58, 58, 58);
    box-shadow: 0px 0px 20px #000000;
}

.header-img {
    position: absolute;
    z-index: 1;
    background-image: url(../img/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 800px;
    bottom: 125px;
    box-shadow: 0px 0px 100px #000000;
}

.header-img div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50%;
    top: 200px;
    background: #3f3f3f9d;
    box-shadow: 0px 0px 50px #414141;
}

.header-img h1 {
    font-size: 50px;
}

.header-img button {
    position: relative;
    font-size: 25px;
    padding: 25px 30px;
    margin: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    color: #e6e6e6;
    background: linear-gradient(90deg, #ff5656, #f1744d);
    box-shadow: 0px 0px 100px #ff89a7;
}

#money-entry {
    position: relative;
    height: 500px;
    width: 100%;
    text-align: center;
    margin: 0 0 50px 0;
    background: #37295e;
    box-shadow: 0 0 100px 15px #37295e;
}

#money-entry h1 {
    font-size: 30px;
}

#money-entry .money-option {
    height: 100px;
    width: 100px;
    display: inline-block;
    background: linear-gradient(90deg, #160c30, #21173c, #2d224a);
    margin: 5px;
    font-size: 22px;
    line-height: 33px;
    color: #8d8d8d;
    border-radius: 5px;
}

div #selected.money-option {
    color: white;
    border-bottom: 6px solid #8f8fe9;
    box-shadow: 0 0 30px 5px #5b5b9c;
}

#money-entry #custom-entry-text {
    position: relative;
    height: 50px;
    width: 75%;
    margin: auto;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #5b5b9c;
}

#money-entry #custom-entry input::placeholder {
    color: #b3b3b3;
    text-align: center;
}

#money-entry #custom-entry input:focus {
    color: #ffffff;
    text-align: center;
}


#donor {
    position: relative;
    height: 600px;
    width: 100%;
    background: #ffffff23;
    box-shadow: 0px 0px 50px #414141;
    text-align: center;
}

#donor .donor-item {
    position: relative;
    height: 60%;
    width: 30%;
    display: inline-block;
    border: 5px solid #f5f5f5a6;
    margin: 0 5px;
}

#donor .donor-item img {
    position: relative;
    width: 100%;
    height: 100%;
}




#post {
    position: relative;
    /* height: 400px; */
    width: 100%;
    text-align: center;
    margin: 0 0 50px 0;
}

#post #post-contents {
    position: relative;
    /* height: 100%; */
    width: 100%;
    margin: auto;
}

#post .post-content {
    position: relative;
    height: 80%;
    width: 20%;
    display: inline-block;
    margin: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 30px 1px #584eb3;
    text-align: justify;
    color: whitesmoke;
    font-weight: 600;
}

#post .post-content h1,
#post .post-content p {
    padding: 5px 10px;
}

#post .post-content h1 {
    border-left: 6px solid #ffffff;
    padding-left: 10px;
}

#post img {
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.recent {
    position: relative;
    text-align: center;
    height: 400px;
    background: #2d224a;
}

.recent .text {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 40%;
    margin: 0 10px;
    bottom: 28px;
    background: #ffb171;
    font-weight: 600;
    border-left: 7px solid transparent;
    border-image: linear-gradient(0deg, #ff518c, #ffc9b9, #00bcd4) 1 100%;
    border-radius: 5px;
    box-shadow: 0 0 15px #f59d75;
    color: #313131;
    text-align: justify;
    padding: 0 15px;
}

.recent .text img {
    position: relative;
    width: 60px;
    height: 60px;
    margin: auto;
    border-top: 20px solid #4e4e4e00;
    margin: auto;
    display: inline-block;
}

.recent .img {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 40%;
    margin: 0 10px;
    bottom: -50px;
    border-radius: 5px;
}

.recent .img img {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 15px #505050;
}


#plan {
    position: relative;
    height: 400px;
    width: 100%;
    text-align: center;
    margin: 0 0 50px 0;
}

#plan #plan-contents {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
}

#plan .plan-content {
    position: relative;
    height: 80%;
    width: 25%;
    display: inline-block;
    margin: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #d9d9d9;
    text-align: justify;
    padding: 5px 10px;
    color: #313131;
}

#plan .plan-content h1 {
    border-left: 6px solid #363636;
    padding-left: 5px;
}

#plan img {
    height: 60px;
    width: 60px;
}

#subscribe-area {
    position: relative;
    width: 100%;
    color: #fff;
    /* background: #d9d9d9; */
    margin: 0 0 50px;
}

#subscribe-area h1 {
    text-align: center;
    font-size: 30px;
}

#subscribe-area #subscription-box {
    position: relative;
    height: 150px;
    width: 75%;
    background: #fff4d6;
    margin: auto;
    border: 0;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px #fff4d6;
}

#subscribe-area #subscription-box div {
    position: relative;
    height: 35px;
    width: 75%;
    padding: 10px auto;
    /* background: #000000; */
    margin: auto;
    padding: auto;
    top: 55px;
}

#subscribe-area #subscription-box #email {
    position: relative;
    height: 100%;
    width: 60%;
    background: #d9d9d9;
    border: 0;
    border-radius: 5px 0 0 5px;
}

#subscribe-area #subscription-box #submit {
    position: relative;
    height: 105%;
    width: 37%;
    background: #ff5959;
    border: 0;
    color: #d9d9d9;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

footer {
    position: static;
    background: #0b0d17;
    width: 100%;
    height: 200px;
    z-index: 3;
    bottom: 0;
    text-align: center;
    padding: 20px 0;
}

footer h1 {
    font-family: 'Lobster Two', cursive;
    color: #fc5f51;
}