html,
body {
    height: 100%;
    width: 100%;
    background: #160c34;
    /* overflow-x: hidden; */
    margin: 0;
    color: aliceblue;
    font-family: 'Sora', sans-serif;
}

.header {
    position: absolute;
    /* overflow: hidden; */
    width: 100%;
    height: 925px;
}

.header-up-line {
    height: 35px;
    width: 100%;
    background: transparent;
}

.header-main-line {
    position: absolute;
    background: linear-gradient(90deg, #fc5f51, #f59d75);
    width: 100%;
    z-index: 2;
}

.header-main-line button {
    font-size: 20px;
    padding: 10px 30px;
    margin: 10px 0 10px 10px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    color: #313131;
    background: rgb(206, 206, 206);
    box-shadow: 0px 0px 3px #160c34;
}

.header-main-line button.donate-button {
    font-size: 25px;
    padding: 25px 30px;
    margin: 0;
    position: absolute;
    float: right;
    bottom: -8px;
    right: 10px;
    color: #fdfdfd;
    background: rgb(58, 58, 58);
    box-shadow: 0px 0px 20px #000000;
}

.header-img {
    position: absolute;
    z-index: 1;
    background-image: url(/img/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 800px;
    bottom: 125px;
    box-shadow: 0px 0px 100px #000000;
}

.header-img div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50%;
    top: 200px;
    background: #3f3f3f9d;
    box-shadow: 0px 0px 50px #414141;
}

.header-img h1 {
    font-size: 50px;
}

.header-img button {
    position: relative;
    font-size: 25px;
    padding: 25px 30px;
    margin: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    color: #313131;
    background: rgb(206, 206, 206);
    box-shadow: 0px 0px 3px #160c34;
}

footer {
    position: absolute;
    background: #0b0d17;
    width: 100%;
    /* height: 10%; */
    z-index: 3;
    bottom: 0;
    text-align: center;
}

footer h1 {
    font-family: 'Lobster Two', cursive;
    color: #fc5f51;
}